@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
  height: 8px; /* Alto de la barra para scroll horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo de la barra */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Color del "pulgar" o la parte móvil */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Color del "pulgar" al pasar el mouse */
}


/* Estilos globales previos */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Se elimina color-scheme para evitar que el navegador fuerce estilos oscuros */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Se eliminan los estilos @media (prefers-color-scheme: light) porque ya están definidos en :root */
